*{
    margin:0;
    padding:0;
}
body{
    background-color: #f1f3f4;
    font-family: sans-serif;
}
.top-nav-bar
{
    height: 57px;
    top: 0;
    position: sticky;
    background: #fff;
    margin-bottom: 20px;
    border-bottom: 3px solid burlywood;
    z-index: 2;
}
.themoonshine_crochet
{
    height: 40px;
    margin: 5px 10px;
}
.form-control{
    margin-top: 9px;
    margin-left: 30px;
    border:1px solid burlywood !important;
    border-top-left-radius: 20px !important;
border-bottom-left-radius: 20px !important;
border-top-right-radius: 0 !important;
border-bottom-right-radius:+0 !important ;
box-shadow: none !important;
}
.input-group-text{
    background: burlywood !important;
    border: 1px solid burlywood !important;
    margin: 8.5px 10px 3px 0 !important;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-top-right-radius: 20px !important;
    border-bottom-right-radius:20px !important ;
    cursor: pointer;
}
.search-box
{ display: inline-flex;
    width: 60%;

}
.fa-search{
    color: #fff;
}
.menu-bar{
    width: 40%;
    height:57px;
    float: right;
}
.menu-bar ul{
    display:line-flex;
    float: right;
}
.menu-bar ul li{
    border-left: 1px solid #fff;
    list-style-type: none;
    padding: 15px 35px;
    text-align: center;
    background-color: burlywood;
    cursor: pointer;

}
.menu-bar ul li a{
    font-size: 16px;
font-weight: bold;
color: #fff;
text-decoration: none;
}
.fa-shopping-basket{
    margin-right: 5px;
}
@media only screen and (max-width:980px){
    .top-nav-bar
    {
        height: 118px;
        border-bottom: 0;

    }

}
.search-box{
    width: 100%;
}
.menu-bar{
    width: 100%;
}
.menu-bar ul{
    margin: 10px 0;
    width: 100%;
}
.menu-bar ul li{
    height: 57px;
    width: 100%;
}
